Repository in-RET/ensys-gui-new, changes with the owners that CODEOWNERS names for each.
All owners: @in-RET, @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

[update] prepared project for first deployment
  .gitignore
  .run/Development.run.xml
  .run/Production.run.xml
  .run/compose.dev.run.xml
  backend/.dockerignore
  backend/docker/alembic.ini
  backend/docker/requirements.txt
  backend/env.py
  docker-compose.prod.test.yaml
  docker-compose.prod.yaml
  frontend/.dockerignore
  frontend/angular.json
  frontend/docker/dockerfile
  frontend/docker/nginx.conf
  frontend/dockerfile
  proxy/default.conf
  proxy/dockerfile
Owners: @in-RET, @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

[fix] fixed alembic working with .env-files
  backend/env.py
  docker-compose.prod.test.yaml
  docker-compose.prod.yaml
Owners: @andreas@lubojanski.com, @in-RET

feat(scenario): link to simulation
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
Owners: @hossein.ganjyar@gmail.com

feat(simulation): make simulation list page
  .env
  frontend/src/app/components/scenario/simulation/services/simulation.service.spec.ts
  frontend/src/app/components/scenario/simulation/services/simulation.service.ts
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.html
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.scss
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.ts
  frontend/src/app/routes/simulation.routes.ts
  frontend/src/static/assets/icons/feather/black/check-circle.svg
  frontend/src/static/assets/icons/feather/black/play-circle.svg
  frontend/src/static/assets/icons/feather/black/stop-circle.svg
Owners: @in-RET, @hossein.ganjyar@gmail.com

[fix] fixed cors errors and corrected hardcoded links. THE environment.development.ts AND environment.ts USE THE RIGHT LINKS FOR FURTHER DEVELOPMENT
  .run/Run Backend (psql).run.xml
  backend/app/db.py
  backend/app/main.py
  backend/docker/requirements.txt
  backend/env.py
  frontend/.dockerignore
  frontend/angular.json
  frontend/docker/dockerfile
  frontend/package.json
  frontend/src/app/components/auth/services/auth.service.ts
  frontend/src/app/components/legal/about/about.component.html
  frontend/src/app/components/project/services/project.service.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
  frontend/src/app/core/base-http/base-http.service.ts
  frontend/src/app/main/app.component.ts
  frontend/src/environments/environment.development.ts
  frontend/src/environments/environment.ts
Owners: @in-RET, @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

[fix] fixed cors errors and corrected hardcoded links. THE environment.development.ts AND environment.ts USE THE RIGHT LINKS FOR FURTHER DEVELOPMENT
  frontend/src/app/core/base-http/base-http.service.ts
Owners: @hossein.ganjyar@gmail.com

[fix] changed environment.ts
  frontend/src/environments/environment.ts
Owners: @hossein.ganjyar@gmail.com

refactor(env): set env url for http requests
  frontend/src/app/components/auth/services/auth.service.ts
  frontend/src/app/components/project/services/project.service.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
  frontend/src/app/components/scenario/simulation/services/simulation.service.ts
  frontend/src/environments/environment.development.ts
Owners: @hossein.ganjyar@gmail.com

[fix] added id to scenario create
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

[fix] added all possible domains to cors-middleware
  backend/app/main.py
  frontend/src/environments/environment.development.ts
Owners: @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

[fix] dinge nsfw
  frontend/angular.json
Owners: @hossein.ganjyar@gmail.com

fix(env): susing env for prod
  .env
  frontend/angular.json
  frontend/src/app/components/auth/login/login.component.ts
  frontend/src/app/components/auth/services/auth.service.ts
  frontend/src/app/components/project/services/project.service.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
  frontend/src/app/components/scenario/simulation/services/simulation.service.ts
  frontend/src/app/core/guards/auth-guard.service.ts
Owners: @in-RET, @hossein.ganjyar@gmail.com

fix(env): prod
  frontend/src/app/components/auth/services/auth.service.ts
  frontend/src/environments/environment.ts
Owners: @hossein.ganjyar@gmail.com

fix(env)
  frontend/src/app/main/app.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix] change proxy configuration
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] removed events block from nginx.conf
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] fix?
  frontend/angular.json
  frontend/docker/dockerfile
Owners: @hossein.ganjyar@gmail.com

[fix] fix?
  frontend/docker/dockerfile
Owners: @hossein.ganjyar@gmail.com

[fix] fix?
  frontend/docker/dockerfile
Owners: @hossein.ganjyar@gmail.com

[fix] fix?
  frontend/docker/dockerfile
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] fixed cors error and misconfig of environmental files
  frontend/src/app/main/app.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix] fixed cors error and misconfig of environmental files
  frontend/src/app/main/app.component.ts
  frontend/src/environments/environment.ts
Owners: @hossein.ganjyar@gmail.com

[fix] added missing files for oep
  .gitignore
  backend/data/oep/converter/parameter/biomass_to_liquid_system_substrat.csv
  backend/data/oep/converter/ports/biomass_to_liquid_system_substrat.csv
  backend/data/oep/generic_storage/parameter/storage_electricity_generic.csv
  backend/data/oep/generic_storage/parameter/storage_electricity_li_ion.csv
  backend/data/oep/generic_storage/parameter/storage_electricity_natrium.csv
  backend/data/oep/generic_storage/ports/storage_electricity_generic.csv
  backend/data/oep/generic_storage/ports/storage_electricity_li_ion.csv
  backend/data/oep/generic_storage/ports/storage_electricity_natrium.csv
  backend/data/oep/source/parameter/onshore_wind_power_plant.csv
  backend/data/oep/source/parameter/openfield_photovoltaic_power_plant.csv
  backend/data/oep/source/parameter/rooftop_photovoltaic_power_plant.csv
  backend/data/oep/source/ports/onshore_wind_power_plant.csv
  backend/data/oep/source/ports/openfield_photovoltaic_power_plant.csv
  backend/data/oep/source/ports/rooftop_photovoltaic_power_plant.csv
  backend/data/oep/source/timeseries/onshore_wind_power_plant.csv
  backend/data/oep/source/timeseries/openfield_photovoltaic_power_plant.csv
  backend/data/oep/source/timeseries/rooftop_photovoltaic_power_plant.csv
Owners: @in-RET, @andreas@lubojanski.com

[fix] ein neuer versuch für die nginx.conf
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] did we now find the right solution?
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] new version of nginx.conf
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] new version of nginx.conf
  frontend/docker/nginx.conf
  frontend/src/app/core/base-http/base-http.service.ts
  frontend/src/environments/environment.ts
Owners: @hossein.ganjyar@gmail.com

[fix] new version of nginx.conf
  frontend/docker/nginx.conf
  frontend/src/environments/environment.ts
Owners: @hossein.ganjyar@gmail.com

[fix] new version of nginx.conf
  frontend/docker/nginx.conf
  frontend/src/environments/environment.ts
Owners: @hossein.ganjyar@gmail.com

[fix] new version of nginx.conf
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] modified nginx.conf and dockerfile
  docker-compose.prod.yaml
  frontend/docker/dockerfile
  frontend/docker/nginx.conf
Owners: @in-RET, @hossein.ganjyar@gmail.com

[fix] modified compose
  docker-compose.dev.yaml
  docker-compose.prod.test.yaml
Owners: @in-RET

[fix] modified nginx.conf
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] modified nginx.conf
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] modified nginx.conf
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] nginx.conf
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

[fix] nginx.conf
  docker-compose.prod.test.yaml
  docker-compose.prod.yaml
  frontend/docker/nginx.conf
Owners: @in-RET, @hossein.ganjyar@gmail.com

[fix] added project_id verification to check for duplicate scenarios
  backend/app/db.py
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

[fix] added project_id verification to check for duplicate scenarios
  .run/Production Test.run.xml
  backend/app/main.py
  docker-compose.prod.yaml
  frontend/docker/nginx.conf
  frontend/src/environments/environment.ts
  proxy/dockerfile
  proxy/nginx.conf
  start.sh
  stop.sh
Owners: @in-RET, @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

fix: navbar user profile+project create btn
  frontend/src/app/components/project/project-explore/project-explore.component.html
  frontend/src/app/core/layout/navbar/navbar.component.html
Owners: @hossein.ganjyar@gmail.com

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @in-RET

/backend/ @andreas@lubojanski.com
/ensys/ @andreas@lubojanski.com

# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
/frontend/ @hossein.ganjyar@gmail.com
