Repository in-RET/ensys-gui-new, changes with the owners that CODEOWNERS names for each.
All owners: @in-RET, @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

[fix] increased body size for proxy
  proxy/nginx.conf
Owners: @in-RET

fix(scenario): prevent remove scenario id after prev+next
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
Owners: @hossein.ganjyar@gmail.com

fix(scenario): setup-set 8760 for timestep
  frontend/src/app/components/project/project-explore/project-scenario-item/project-scenario-item.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix #69] don't return any data if duplicate scenario was found.
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

[fix] simulations running with multiple nodes
  backend/app/celery.py
  backend/app/main.py
  backend/app/oep/router.py
  backend/app/results/router.py
  docker-compose.dev.yaml
  frontend/docker/dockerfile.prod
  frontend/src/environments/environment.development.ts
  notebooks/check_dump_result.ipynb
  proxy/nginx.conf
Owners: @andreas@lubojanski.com, @in-RET, @hossein.ganjyar@gmail.com

[update] added base file logging to the celery task
  backend/app/celery.py
Owners: @andreas@lubojanski.com

[update] changed max_length
  backend/app/simulation/model.py
  backend/versions/2025_09_12_1304-f8fb2db3099a_.py
Owners: @andreas@lubojanski.com

[update] moved sending mail to background task
  backend/app/auxillary.py
  backend/app/user/router.py
Owners: @andreas@lubojanski.com

[fix] re-added removed frontend-dockerfile
  frontend/docker/dockerfile
Owners: @hossein.ganjyar@gmail.com

[fix] renamed re-added dockerfile to the correct name. also added client-body-size to the angular proxy
  frontend/docker/dockerfile.prod
  frontend/docker/nginx.conf
Owners: @hossein.ganjyar@gmail.com

style: reorder styles.scss
  frontend/src/app/components/auth/login/login.component.scss
  frontend/src/app/components/auth/password-reset/password-reset.component.scss
  frontend/src/app/components/auth/signup/signup.component.scss
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/energy-components/energy-components.component.scss
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/services/scenario.service.ts
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.html
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.ts
  frontend/src/static/scss/base/_normalize.scss
  frontend/src/static/scss/components/_button.scss
  frontend/src/static/scss/components/_footer.scss
  frontend/src/styles.scss
Owners: @hossein.ganjyar@gmail.com

style(simulation): list height fix+scrollbar+alignments
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/simulation/models/simulation.model.ts
  frontend/src/app/components/scenario/simulation/services/simulation.service.ts
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.html
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.scss
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.ts
  frontend/src/app/routes/simulation.routes.ts
Owners: @hossein.ganjyar@gmail.com

#52 fix: disable specific form fields in energy design service
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

fix(scenario): enhance OEP handling in form modal
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

fix(footer): update scenario link button+adjust footer styles
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.html
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.html
  frontend/src/static/scss/components/_footer.scss
Owners: @hossein.ganjyar@gmail.com

fix(scenario): save scenario id after update in setup
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
Owners: @hossein.ganjyar@gmail.com

fix(scenario): setup-set id null if the sc is new
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix #74] changed activation method to get
  backend/app/user/router.py
Owners: @andreas@lubojanski.com

[update] added postgres_test_db with two running energy system models
  misc/postgres_test_db
Owners: @in-RET

[fix #90] added values from ep_costs calculation to schema.
  backend/app/oep/router.py
  backend/app/types.py
  backend/data/oep/converter/ports/heat_pump_air_waste_heat.csv
  backend/data/oep/generic_storage/parameter/storage_electricity_generic.csv
  backend/data/oep/generic_storage/parameter/storage_electricity_li_ion.csv
  backend/data/oep/generic_storage/parameter/storage_hydrogen.csv
  backend/data/oep/sink/parameter/demand_g0.csv
  backend/data/oep/sink/parameter/demand_g3.csv
  backend/data/oep/sink/parameter/demand_ha4.csv
  backend/data/oep/sink/parameter/demand_t24.csv
  backend/data/oep/sink/ports/demand_g0.csv
  backend/data/oep/sink/ports/demand_g3.csv
  backend/data/oep/sink/ports/demand_ha4.csv
  backend/data/oep/sink/ports/demand_t24.csv
  backend/data/oep/sink/timeseries/demand_g0.csv
  backend/data/oep/sink/timeseries/demand_g3.csv
  backend/data/oep/sink/timeseries/demand_ha4.csv
  backend/data/oep/sink/timeseries/demand_t24.csv
Owners: @andreas@lubojanski.com

[fix] #93 updated loss_rate to not required, to handle on part of this.
  ensys/components/genericstorage.py
Owners: @andreas@lubojanski.com

[fix] #88 return empty list instead of an error in get simulations
  backend/app/simulation/router.py
Owners: @andreas@lubojanski.com

[fix] reconfigured nginx proxy
  backend/app/main.py
  docker-compose.prod.test.yaml
  docker-compose.prod.yaml
  frontend/docker/nginx.conf
  proxy/nginx.conf
Owners: @andreas@lubojanski.com, @in-RET, @hossein.ganjyar@gmail.com

feat(scenario): simulation card as a modal
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/modal/modal.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list-card/simulation-list-card.component.html
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list-card/simulation-list-card.component.scss
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list-card/simulation-list-card.component.ts
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.html
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.scss
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.ts
  frontend/src/app/components/scenario/simulation/simulation.component.scss
Owners: @hossein.ganjyar@gmail.com

[fix #86] return unix timestamp instead of datetime
  .run/Generate Version Footprint.run.xml
  backend/app/project/model.py
  backend/app/project/router.py
  backend/app/scenario/model.py
  backend/app/simulation/model.py
  backend/versions/2025_09_15_1245-ec5474a7fbd8_.py
Owners: @in-RET, @andreas@lubojanski.com

[update #92] removed test data and added more data for sinks
  backend/app/main.py
  backend/app/types.py
  backend/data/oep/converter/parameter/test_converter.csv
  backend/data/oep/converter/ports/test_converter.csv
  backend/data/oep/sink/parameter/electricity_demand_electric_car.csv
  backend/data/oep/sink/parameter/electricity_demand_industry.csv
  backend/data/oep/sink/parameter/electricity_demand_sfh.csv
  backend/data/oep/sink/parameter/electricity_export.csv
  backend/data/oep/sink/parameter/heat_demand_industry_process.csv
  backend/data/oep/sink/parameter/heat_demand_industry_room.csv
  backend/data/oep/sink/parameter/heat_demand_sfh.csv
  backend/data/oep/sink/parameter/test_sink.csv
  backend/data/oep/sink/ports/electricity_demand_electric_car.csv
  backend/data/oep/sink/ports/electricity_demand_industry.csv
  backend/data/oep/sink/ports/electricity_demand_sfh.csv
  backend/data/oep/sink/ports/heat_demand_industry_process.csv
  backend/data/oep/sink/ports/heat_demand_industry_room.csv
  backend/data/oep/sink/ports/heat_demand_sfh.csv
  backend/data/oep/sink/timeseries/electricity_demand_electric_car.csv
  backend/data/oep/sink/timeseries/electricity_demand_industry.csv
  backend/data/oep/sink/timeseries/electricity_demand_sfh.csv
  backend/data/oep/sink/timeseries/heat_demand_industry_process.csv
  backend/data/oep/sink/timeseries/heat_demand_industry_room.csv
  backend/data/oep/sink/timeseries/heat_demand_sfh.csv
  backend/data/oep/sink/timeseries/test_sink.csv
  backend/data/oep/source/parameter/hydrogen_feed_in.csv
  backend/data/oep/source/parameter/test_source.csv
  backend/data/oep/source/timeseries/test_source.csv
  docker-compose.dev.yaml
Owners: @andreas@lubojanski.com, @in-RET

fix: add additional development server URL to FastAPI configuration
  backend/app/main.py
  docker-compose.dev.yaml
Owners: @andreas@lubojanski.com, @in-RET

refactor(simulation): load data from API and improve graph rendering
  frontend/src/app/components/scenario/simulation/simulation.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix] fixed docker-compose.dev.yaml
  docker-compose.dev.yaml
Owners: @in-RET

fix(drawflow): set efficiency num by preDef+resolve storage fields disabality after toggle oep
  frontend/src/app/components/scenario/models/node.model.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
Owners: @hossein.ganjyar@gmail.com

fix(drawflow): storage-flow fields if oep selected
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

refactor(scenario-setup): update start date to Unix timestamp
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.html
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
Owners: @hossein.ganjyar@gmail.com

feat(simulation-list): set refresh timer 1sec get data
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix #92] updated oep-data, reversed normilization of the input timeseries
  backend/app/oep/router.py
  backend/app/types.py
  backend/data/oep/converter/ports/biomass_heating_plant.csv
  backend/data/oep/converter/ports/heat_pump_ground_river_heat.csv
  backend/data/oep/generic_storage/parameter/storage_electricity_pumped_hydro_storage_power_technology_flow.csv
  backend/data/oep/generic_storage/parameter/storage_electricity_pumped_hydro_storage_power_technology_node.csv
  backend/data/oep/generic_storage/ports/storage_electricity_generic.csv
  backend/data/oep/generic_storage/ports/storage_electricity_li_ion.csv
  backend/data/oep/generic_storage/ports/storage_electricity_natrium.csv
  backend/data/oep/generic_storage/ports/storage_electricity_pumped_hydro_storage_power_technology.csv
  backend/data/oep/generic_storage/ports/storage_gas.csv
  backend/data/oep/generic_storage/ports/storage_heat_district_heating.csv
  backend/data/oep/generic_storage/ports/storage_heat_seasonal.csv
  backend/data/oep/generic_storage/ports/storage_hydrogen.csv
  backend/data/oep/source/timeseries/onshore_wind_power_plant.csv
  backend/data/oep/source/timeseries/openfield_photovoltaic_power_plant.csv
  backend/data/oep/source/timeseries/rooftop_photovoltaic_power_plant.csv
  backend/data/oep/source/timeseries/run_river_power_plant.csv
  backend/data/oep/source/timeseries/solar_thermal_power_plant.csv
Owners: @andreas@lubojanski.com

[fix #86] fixed some minor bugs with the unix time
  backend/app/scenario/model.py
  backend/app/simulation/model.py
  backend/app/user/model.py
Owners: @andreas@lubojanski.com

fix(scenario): flow update if oep is off
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
Owners: @hossein.ganjyar@gmail.com

fix(order-list): edit items+add new port for transform node
  frontend/src/app/components/scenario/scenario-energy-design/order-list/order-list.component.html
  frontend/src/app/components/scenario/scenario-energy-design/order-list/order-list.component.scss
  frontend/src/app/components/scenario/scenario-energy-design/order-list/order-list.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
  frontend/src/static/assets/icons/feather/black/lock.svg
  frontend/src/static/assets/icons/feather/black/unlock.svg
Owners: @hossein.ganjyar@gmail.com

[nsfw] commit before switching branches
  notebooks/check_dump_result.ipynb
Owners: @in-RET

[fix #93] added hardcoded logic to get the right values for storages
  backend/app/auxillary.py
  backend/app/scenario/model.py
  ensys/components/genericstorage.py
Owners: @andreas@lubojanski.com

[fix #98] changed series name construction to get the correct identifier
  backend/app/results/router.py
Owners: @andreas@lubojanski.com

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @in-RET

/backend/ @andreas@lubojanski.com
/ensys/ @andreas@lubojanski.com

# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
/frontend/ @hossein.ganjyar@gmail.com
