Repository in-RET/ensys-gui-new, changes with the owners that CODEOWNERS names for each.
All owners: @in-RET, @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

[fix] fixed bug with efficiencies in the oep-data
  backend/app/oep/router.py
Owners: @andreas@lubojanski.com

[fix #92] added heat storage for households
  backend/app/types.py
  backend/data/oep/generic_storage/parameter/storage_heat_household.csv
  backend/data/oep/generic_storage/ports/storage_heat_household.csv
Owners: @andreas@lubojanski.com

fix(scnario): resolve form error for flow during update/create
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix] fixed a spelling error in the oepTypes-Enum
  backend/app/types.py
Owners: @andreas@lubojanski.com

style(simualtion): actions+remove restart btn
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list-card/simulation-list-card.component.html
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list-card/simulation-list-card.component.scss
Owners: @hossein.ganjyar@gmail.com

[fix] fixed hardcoded links
  frontend/src/app/components/scenario/simulation/simulation.component.ts
Owners: @hossein.ganjyar@gmail.com

[update] added static values to results
  backend/app/results/router.py
  frontend/public/favicon.ico
Owners: @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

[fix] added static values to results
  backend/app/results/model.py
  backend/app/results/router.py
Owners: @andreas@lubojanski.com

[feature] added static values to results
  backend/app/responses.py
  backend/app/results/model.py
  backend/app/results/router.py
  frontend/src/app/components/scenario/simulation/simulation.component.html
  frontend/src/app/components/scenario/simulation/simulation.component.scss
  frontend/src/app/components/scenario/simulation/simulation.component.ts
Owners: @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

fix(scenario): update scenario then start simulation of it
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
Owners: @hossein.ganjyar@gmail.com

style(drawflow): context menu-open in more left position if open near to right border
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix #61] corrected spelling
  frontend/src/app/components/project/project-create/project-create.component.html
Owners: @hossein.ganjyar@gmail.com

[fix #47] added footer to project-explore and corrected the links in the footer. Also changed the about page to the correct specs
  frontend/src/app/components/legal/about/about.component.html
  frontend/src/app/components/legal/license/license.component.html
  frontend/src/app/components/project/project-explore/project-explore.component.html
  frontend/src/app/components/project/project-explore/project-explore.component.ts
  frontend/src/app/core/layout/footer/footer.component.html
  frontend/src/app/main/app.component.html
  frontend/src/app/main/app.component.scss
Owners: @hossein.ganjyar@gmail.com

[fix #108] added new annuity calculation to backend and frontend
  backend/app/oep/router.py
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

style(simulation-list)
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/file-uploader/file-uploader.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/modal/modal.component.html
  frontend/src/app/components/scenario/scenario-energy-design/modal/modal.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list-card/simulation-list-card.component.html
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list-card/simulation-list-card.component.scss
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list-card/simulation-list-card.component.ts
  frontend/src/app/components/scenario/simulation/simulation.component.ts
Owners: @hossein.ganjyar@gmail.com

#76 fix: remove redundant bootstrap load lib
  frontend/angular.json
Owners: @hossein.ganjyar@gmail.com

#95-fix(scenario): entity info link
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
Owners: @hossein.ganjyar@gmail.com

#51-fix: connection from input disable
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix] - updated zo.rro logo to the actual version with registered trademark - changed result values to 2 digits and the right unit - removed not necessary logos
  backend/app/results/router.py
  frontend/src/app/core/layout/index/index.component.html
  frontend/src/static/assets/logos/tmuen-logo.svg
  frontend/src/static/assets/logos/zo.rro_zweii-logo.svg
  frontend/src/static/assets/logos/zo.rro_zweii_logo_new.png
Owners: @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

fix(drawflow): resolve edit data
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

fix(drawflow): converter output predefined
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

refactor: nominal_val for sink
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

[fix #112] fixed bug with nodes without connections
  backend/app/auxillary.py
Owners: @andreas@lubojanski.com

[feature] added simulation costs to results page
  backend/app/results/automatic_cost_calc.py
  backend/app/results/router.py
Owners: @andreas@lubojanski.com

[feature] added simulation costs to results page
  backend/app/results/automatic_cost_calc.py
  backend/app/results/router.py
  notebooks/check_dump_result.ipynb
Owners: @andreas@lubojanski.com, @in-RET

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @in-RET

/backend/ @andreas@lubojanski.com
/ensys/ @andreas@lubojanski.com

# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
/frontend/ @hossein.ganjyar@gmail.com
