Repository in-RET/ensys-gui-new, changes with the owners that CODEOWNERS names for each.
All owners: @in-RET, @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

feat(alert dialog): alert service for warning/error/info/confirm
  frontend/src/app/shared/services/alert.service.spec.ts
  frontend/src/app/shared/services/alert.service.ts
Owners: @hossein.ganjyar@gmail.com

(fix) fixed docker file
  backend/docker/requirements.txt
  docker-compose.dev.yaml
Owners: @andreas@lubojanski.com, @in-RET

feat(scenario-flow): load predefined list+fill fileds by select item by backend
  frontend/angular.json
  frontend/src/app/components/project/project-explore/project-item/project-item.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/energy-components/energy-components.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
  frontend/src/app/components/scenario/services/flow.service.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
  frontend/src/app/shared/services/general.service.spec.ts
  frontend/src/app/shared/services/general.service.ts
  frontend/src/app/shared/services/toast.service.spec.ts
  frontend/src/app/shared/services/toast.service.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario-storage): load predefined list
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
  frontend/src/app/components/scenario/services/flow.service.ts
Owners: @hossein.ganjyar@gmail.com

fix(scenario-storage): resolve disable/enable fields
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

fix(scenario): improve storage node fields when use oep
  frontend/src/app/components/scenario/scenario-energy-design/form/form.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

refactor(scenario-storage): show formfields+msg of oep on flow
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario): save
  frontend/src/app/components/project/project-explore/project-item/project-item.component.html
  frontend/src/app/components/project/project-explore/project-item/project-item.component.ts
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
  frontend/src/app/shared/resolvers/project.resolver.ts
  frontend/src/app/shared/resolvers/scenario.resolver.ts
Owners: @hossein.ganjyar@gmail.com

style(scenario-base): remove redundant codes style
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.scss
Owners: @hossein.ganjyar@gmail.com

(cleaning) cleaned codebase and renamed example files.
  example/deprecated/scenario_create_efh.json
  example/deprecated/scenario_create_new.json
  example/json/complete_drawflow.json
  example/json/complete_drawflow_refract.json
  example/json/oep_es.json
  example/json/scenario_create_efh_reworked.json
  example/json/test_scenario_create.json
  example/json/test_scenario_update.json
  example/test.json
  misc/results_prototyp/results.html
  notebooks/transform_flowchart_to_energysystem.ipynb
Owners: @in-RET

refactor(form): form control control
  frontend/src/app/components/scenario/scenario-energy-design/form/form.component.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario): souce-oep, set predefined
  frontend/src/app/components/scenario/models/node.model.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario): converter-oep, set predefined
  frontend/src/app/components/scenario/scenario-energy-design/order-list/order-list.component.html
  frontend/src/app/components/scenario/scenario-energy-design/order-list/order-list.component.scss
  frontend/src/app/components/scenario/scenario-energy-design/order-list/order-list.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

refactor(scenario): set types for var, fn
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario): sink-oep, set predefined
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario): set default value for name field
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario): flow-set predefined
  frontend/src/app/components/scenario/models/node.model.ts
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/file-uploader/file-uploader.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
Owners: @hossein.ganjyar@gmail.com

feat: toast component+service
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/main/app.component.html
  frontend/src/app/main/app.component.ts
  frontend/src/app/shared/components/toast-container/toast-container.component.html
  frontend/src/app/shared/components/toast-container/toast-container.component.scss
  frontend/src/app/shared/components/toast-container/toast-container.component.ts
  frontend/src/app/shared/services/toast.service.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario): show toast per action
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix] fixed dockerignore files and some doc-links
  backend/docker/.dockerignore
  docs/src/ensys/index.md
  frontend/.dockerignore
  frontend/dockerfile
Owners: @andreas@lubojanski.com, @in-RET, @hossein.ganjyar@gmail.com

refactor(scenario): setup-set fileds edit+disabled
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.html
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
Owners: @hossein.ganjyar@gmail.com

style(toast): show left time to hide
  frontend/src/app/shared/components/toast-container/toast-container.component.html
  frontend/src/app/shared/components/toast-container/toast-container.component.scss
Owners: @hossein.ganjyar@gmail.com

reafctor(scenario): setup-sim-year position
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.html
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
Owners: @hossein.ganjyar@gmail.com

refactor(scenario): components-remove oep,exceed,export
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

feat(simulation): init+sample page
  frontend/angular.json
  frontend/package.json
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.ts
  frontend/src/app/components/scenario/simulation/simulation.component.html
  frontend/src/app/components/scenario/simulation/simulation.component.scss
  frontend/src/app/components/scenario/simulation/simulation.component.ts
  frontend/src/app/routes/main.routes.ts
  frontend/src/app/routes/simulation.routes.ts
  frontend/src/static/assets/json_data/response.json
Owners: @hossein.ganjyar@gmail.com

[update] added selection for oep-path-params
  backend/app/celery.py
  backend/app/main.py
  backend/app/oep/router.py
  backend/app/project/model.py
  backend/app/project/router.py
  backend/app/results/router.py
  backend/app/scenario/model.py
  backend/app/scenario/router.py
  backend/app/simulation/model.py
  backend/app/simulation/router.py
  backend/app/tests/test_admin.py
  backend/app/tests/test_fixtures.py
  backend/app/tests/test_oep_locally.py
  backend/app/tests/test_users_delete.py
  backend/app/tests/test_users_login.py
  backend/app/tests/test_users_registration.py
  backend/app/types.py
  backend/app/user/router.py
  backend/env.py
  backend/versions/27323d40cd9f_changed_json_type_in_column.py
  backend/versions/8981ad2b1fee_baseline_migration_after_remodeling.py
  backend/versions/a46f39424133_remodeled_the_scenario_table.py
  backend/versions/dac134a828f3_updated_scenario_schema.py
  docker-compose.dev.yaml
Owners: @andreas@lubojanski.com, @in-RET

[fix] completed storage oep-params
  backend/data/oep/generic_storage/parameter/test_storage.csv
Owners: @andreas@lubojanski.com

feat(scenario): storage-set flow data predefined
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

[fix] updated save logic
  backend/app/scenario/auxillary.py
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

[fix] updated update logic
  backend/app/scenario/model.py
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

style(drawflow): port on connection is bigger
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.html
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.scss
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
Owners: @hossein.ganjyar@gmail.com

refactor: predefined-new data strcuture
  frontend/src/app/components/scenario/services/flow.service.ts
Owners: @hossein.ganjyar@gmail.com

refactor(scenario): normalize numbers on flow+node fields
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario-project): restore+save drawflow & project & scenario data
  frontend/src/app/components/project/project-explore/project-explore.component.ts
  frontend/src/app/components/project/project-explore/project-item/project-item.component.html
  frontend/src/app/components/project/project-explore/project-item/project-item.component.scss
  frontend/src/app/components/project/project-explore/project-scenario-item/project-scenario-item.component.html
  frontend/src/app/components/project/project-explore/project-scenario-item/project-scenario-item.component.ts
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario-project): edit/delete
  frontend/src/app/components/project/project-explore/project-item/project-item.component.html
  frontend/src/app/components/project/project-explore/project-item/project-item.component.ts
  frontend/src/app/components/project/project-explore/project-scenario-item/project-scenario-item.component.html
  frontend/src/app/components/project/project-explore/project-scenario-item/project-scenario-item.component.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
Owners: @hossein.ganjyar@gmail.com

[fix] fixed a minor bug in timeseries aquisition
  backend/app/oep/router.py
  backend/app/types.py
Owners: @andreas@lubojanski.com

[fix] fixed a minor bug in scenario, which let the user create multiple scenarios with the same name
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

[fix] fixed a major bug in the simulations api
  backend/app/celery.py
  backend/app/scenario/auxillary.py
  backend/app/simulation/model.py
  backend/app/simulation/router.py
  backend/versions/b6c2e78bbcf6_added_status_message.py
  ensys/components/genericstorage.py
  example/json/converted_es.json
  example/json/drawflow_test.txt
  notebooks/transform_flowchart_to_energysystem.ipynb
Owners: @andreas@lubojanski.com, @in-RET

refactor(scenario): node & flow data/predefined
  frontend/src/app/components/project/project-explore/project-item/project-item.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/form/form.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/services/energy-design.service.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
  frontend/src/app/components/scenario/simulation/simulation.component.ts
  frontend/src/styles.scss
Owners: @hossein.ganjyar@gmail.com

[update] prepared project for first deployment
  .gitignore
  .run/Development.run.xml
  .run/Production.run.xml
  .run/compose.dev.run.xml
  backend/.dockerignore
  backend/docker/alembic.ini
  backend/docker/requirements.txt
  backend/env.py
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  frontend/.dockerignore
  frontend/angular.json
  frontend/docker/dockerfile
  frontend/docker/nginx.conf
  frontend/dockerfile
  proxy/default.conf
  proxy/dockerfile
Owners: @in-RET, @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @in-RET

/backend/ @andreas@lubojanski.com
/ensys/ @andreas@lubojanski.com

# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
/frontend/ @hossein.ganjyar@gmail.com
