Repository in-RET/ensys-gui-new, changes with the owners that CODEOWNERS names for each.
All owners: @in-RET, @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @in-RET

/backend/ @andreas@lubojanski.com
/ensys/ @andreas@lubojanski.com

# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
/frontend/ @hossein.ganjyar@gmail.com

[fix] docker-compose to an usable angular dev setting
  backend/docker/dockerfile
  docker-compose.dev.yaml
  docker-compose.prod.test.yaml
  docker-compose.prod.yaml
  frontend/docker/.dockerignore
  frontend/docker/dockerfile.dev
  frontend/docker/dockerfile.prod
  frontend/package.json
Owners: @andreas@lubojanski.com, @in-RET, @hossein.ganjyar@gmail.com

[fix] updated TMUENF Logo
  backend/app/main.py
  frontend/src/app/core/layout/index/index.component.html
  frontend/src/static/assets/logos/tmuenf-logo.png
Owners: @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

Update README.md
  README.md
Owners: @in-RET

Update README.md
  README.md
Owners: @in-RET

feat(scenario): save/update+start simulation
  frontend/src/app/components/auth/services/auth.service.ts
  frontend/src/app/components/project/project-explore/project-explore.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.ts
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
  frontend/src/app/main/app.component.ts
  frontend/src/static/assets/icons/feather/black/play.svg
Owners: @hossein.ganjyar@gmail.com

refactor: simulation+scenario
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.html
Owners: @hossein.ganjyar@gmail.com

[fix] updated api response for scenario_create
  backend/app/responses.py
  backend/app/scenario/router.py
  docker-compose.dev.yaml
Owners: @andreas@lubojanski.com, @in-RET

[fix] updated api response for scenario_create
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

[fix] updated api for scenario_update
  backend/app/scenario/auxillary.py
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

[update] added dev config
  .run/compose.dev.run.xml
Owners: @in-RET

[fix] fixed hardcoded links
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
Owners: @hossein.ganjyar@gmail.com

[feature] added support for superusers
  backend/app/scenario/auxillary.py
Owners: @andreas@lubojanski.com

[fix] updated database requests
  backend/app/simulation/router.py
Owners: @andreas@lubojanski.com

style(index): footer+index postion img
  frontend/src/app/components/auth/login/login.component.html
  frontend/src/app/core/layout/footer/footer.component.html
  frontend/src/app/core/layout/index/index.component.html
  frontend/src/app/core/layout/index/index.component.ts
  frontend/src/app/core/layout/navbar/navbar.component.html
  frontend/src/static/scss/components/_footer.scss
  frontend/src/styles.scss
Owners: @hossein.ganjyar@gmail.com

fix(scenario): transformer user-defined ports. Closes #54
  frontend/src/app/components/scenario/services/energy-design.service.ts
Owners: @hossein.ganjyar@gmail.com

#46-feat(scenario): toast aler after saving
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix] fixed false behavior after database commit.
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

[fix] fixed scenario deletion with linked simulations
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

[fix] fixed scenario deletion with linked simulations, Closes #56
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @in-RET

fix(scenario-setup): time step. closes #28
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.html
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
Owners: @hossein.ganjyar@gmail.com

#45 feat(scenario): add info link on node header modal
  frontend/src/app/components/scenario/scenario-energy-design/modal/modal.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.scss
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/static/assets/icons/feather/black/info.svg
Owners: @hossein.ganjyar@gmail.com

style(scenario-component): box shadow for nodes
  frontend/src/static/scss/layouts/_gui.scss
Owners: @hossein.ganjyar@gmail.com

[feature] added e-mail verification .. not safe for work!
  backend/app/scenario/router.py
  backend/app/user/router.py
  backend/templates/activation_mail.html
Owners: @andreas@lubojanski.com

#50, #42 fix(scenario): save
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
Owners: @hossein.ganjyar@gmail.com

#50, #49 fix(scenario): save
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
Owners: @hossein.ganjyar@gmail.com

[fix] updated project deletion and also fixed some minor bugs in the dependency injection
  backend/app/auxillary.py
  backend/app/celery.py
  backend/app/project/model.py
  backend/app/project/router.py
  backend/app/scenario/router.py
  backend/app/simulation/router.py
  notebooks/return_local_schemas.ipynb
Owners: @andreas@lubojanski.com, @in-RET

[feature] added e-mail verification for the user
  backend/app/auxillary.py
  backend/app/user/router.py
  backend/docker/requirements.txt
  backend/templates/activation_mail.html
  backend/templates/hsn_logo_180px_signature.png
  docker-compose.dev.yaml
  docker-compose.prod.test.yaml
  docker-compose.prod.yaml
Owners: @andreas@lubojanski.com, @in-RET

[fix] modified patch response for scenario; Closes #67
  backend/app/auxillary.py
  backend/app/scenario/model.py
  backend/app/scenario/router.py
  backend/app/user/router.py
Owners: @andreas@lubojanski.com

feat(simulation): update+start
  frontend/src/app/components/project/models/project.model.ts
  frontend/src/app/components/project/project-explore/project-explore.component.ts
  frontend/src/app/components/project/project-explore/project-item/project-item.component.html
  frontend/src/app/components/project/project-explore/project-item/project-item.component.ts
  frontend/src/app/components/project/project-explore/project-scenario-item/project-scenario-item.component.html
  frontend/src/app/components/project/project-explore/project-scenario-item/project-scenario-item.component.ts
  frontend/src/app/components/scenario/models/scenario.model.ts
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.ts
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
  frontend/src/app/components/scenario/simulation/services/simulation.service.ts
  frontend/src/app/shared/models/http.model.ts
  frontend/src/static/scss/layouts/_gui.scss
Owners: @hossein.ganjyar@gmail.com

refactor(simulation): change list+footer
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.html
  frontend/src/app/components/scenario/simulation/services/simulation.service.ts
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.html
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.ts
Owners: @hossein.ganjyar@gmail.com

feat(scenario): save btn to update after saving+disability
  frontend/src/app/components/project/project-explore/project-item/project-item.component.ts
  frontend/src/app/components/project/project-explore/project-scenario-item/project-scenario-item.component.ts
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
  frontend/src/app/components/scenario/scenario-setup/scenario-setup.component.ts
  frontend/src/app/components/scenario/services/scenario.service.ts
  frontend/src/app/routes/main.routes.ts
  frontend/src/app/routes/scenario.routes.ts
Owners: @hossein.ganjyar@gmail.com

[fix #72] modified sql statement to filter only
  backend/app/scenario/router.py
Owners: @andreas@lubojanski.com

refactor(scenario): save/update
  frontend/src/app/components/auth/login/login.component.html
  frontend/src/app/components/auth/login/login.component.ts
  frontend/src/app/components/project/project-explore/project-scenario-item/project-scenario-item.component.ts
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.html
  frontend/src/app/components/scenario/scenario-energy-design/energy-drawflow/energy-drawflow.component.ts
  frontend/src/app/components/scenario/scenario-energy-design/modal/modal.component.html
  frontend/src/app/components/scenario/scenario-energy-design/scenario-energy-design.component.scss
Owners: @hossein.ganjyar@gmail.com

style(drawflow): set color+shadow node
  frontend/src/static/scss/layouts/_gui.scss
Owners: @hossein.ganjyar@gmail.com

[fix] updated db-models and alembic.ini
  .run/Generate Version Footprint.run.xml
  .run/Migrate Database (Development).run.xml
  .run/Migrate Database (Testing).run.xml
  .run/Run Backend (psql).run.xml
  .run/compose.dev.run.xml
  backend/README
  backend/alembic.ini
  backend/alembic.local.ini
  backend/app/simulation/model.py
  backend/app/simulation/router.py
  backend/app/user/model.py
  backend/app/user/router.py
  backend/docker/alembic.ini
  backend/docker/dockerfile
  backend/env.py
  backend/script.py.mako
  backend/versions/2025_09_11_1338-61bfaa2d0d60_init.py
  backend/versions/27323d40cd9f_changed_json_type_in_column.py
  backend/versions/8981ad2b1fee_baseline_migration_after_remodeling.py
  backend/versions/a46f39424133_remodeled_the_scenario_table.py
  backend/versions/b6c2e78bbcf6_added_status_message.py
  backend/versions/dac134a828f3_updated_scenario_schema.py
  backend/versions/e139d12cbe94_cleanup_scenario_data.py
  docker-compose.dev.yaml
  docker-compose.prod.test.yaml
  docker-compose.prod.yaml
  frontend/.dockerignore
  frontend/docker/dockerfile.prod
Owners: @in-RET, @andreas@lubojanski.com, @hossein.ganjyar@gmail.com

feat(scenario): start/save simulation
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.html
  frontend/src/app/components/scenario/scenario-base/scenario-footer/scenario-footer.component.ts
Owners: @hossein.ganjyar@gmail.com

style(scenario): update text of confirmation
  frontend/src/app/components/scenario/scenario-base/scenario-base.component.ts
Owners: @hossein.ganjyar@gmail.com

style(simulation): list with icons
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.html
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.scss
  frontend/src/app/components/scenario/simulation/simulation-list/simulation-list.component.ts
  frontend/src/static/assets/icons/feather/black/alert-triangle.svg
  frontend/src/static/assets/icons/feather/black/x.svg
Owners: @hossein.ganjyar@gmail.com

[fix] increased body size for proxy
  proxy/nginx.conf
Owners: @in-RET
